h1 {
    background-color: black;
    color: white !important;
    text-align: center;
  }
  .order-section{
    display: flex;
  }
  
  #banker,
  #work,
  #laptops {
    text-align: center;
  }
  
  #buy-btn {
    margin-top: 20px;
  }
  
  #display-info {
    padding: 20px;
  }
  .loan{
  display: flex;
  gap:10px;
  }
  
  #display-price {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .items {
      flex-direction: column;
      gap: 2%;
      margin-left: 5%;
    }
  
    .order-section {
      flex-direction: column;
      gap: 2%;
    }
  
    #buy-btn {
      margin-top: 5%;
    }
  }
  